<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alerta</ion-title>
  </ion-toolbar>

  <ion-button slot="start" (click)="backtoMain()">
    <ion-icon name="arrow-back"> </ion-icon>
  </ion-button>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alerta</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<!--colocando o card para testes-->
<ion-grid>
  <ion-row><!--começo-->
    
<ion-card style="width: 200px; height: 200px;">
  <ion-card-header>
    <ion-card-title>Alerta</ion-card-title>
    <ion-card-subtitle>Alertando o consumo médio 10 m³</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Casa 01.
  </ion-card-content>
</ion-card>

<!--colocando outro card-->
<ion-card style="width: 200px; height: 200px;">
  <ion-card-header>
    <ion-card-title>Alerta</ion-card-title>
    <ion-card-subtitle>Alertando o consumo médio 10 m³</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Casa 02.
  </ion-card-content>
</ion-card>
<!--outro card-->
<ion-card style="width: 200px; height: 200px;">
  <ion-card-header>
    <ion-card-title>Alerta</ion-card-title>
    <ion-card-subtitle>Alertando o consumo médio 10 m³</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Casa 03.
  </ion-card-content>
</ion-card>
<!--outro card-->
<ion-card style="width: 200px; height: 200px;">
  <ion-card-header>
    <ion-card-title>Alerta</ion-card-title>
    <ion-card-subtitle>Alertando o consumo médio 10 m³</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Casa 04.
  </ion-card-content>
</ion-card>

</ion-row>
</ion-grid><!--fim do grid-->
